.mainTodo{
    width: 95%;
    margin: auto;
}
.todoContent{
background-color: #fff ;
padding: 5px 15px;
margin: 10px;
color: #333;
border-radius: 3px;
box-shadow: 1px 2px 2px #D5D8DC;
display: flex;
flex-direction: row;
align-items: center;
width: 96%;
border: 1px solid #e1e1e1;
}
.todoContent h2{
    width: 99%;
}
button{
    border:none;
    outline: 0;
    padding:5px 10px; 
    background-color: #ff0000;
    border-radius: 5px;
}