.App {
  text-align: left;
  margin: 10px;
}
.container{
  border: 2px solid #e1e1e1;
  margin: 10px;
}
.hero_content{
  width:97%;
  margin: auto;
  padding:15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
input[type=text]{
  width: 95.5%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 24px;
}
input[type=submit] {
  width: 50px;
  background-color: #fcd604;
  color: #333;
  padding: 14px;
  margin-left:10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 28px;
}
input[type=submit]:hover {
  background-color: #daba08;
}